<div class="search-filter row">
    <div class="input-group">
        <input type="text" placeholder="Search By Title Or Content Provider" ng-model="searchKeyword" class="search"/>
        <button class="btn btn-default clear-filter" type="reset" ng-click="clearFilters()">Clear Filters</button>
    </div>
    <div class="filter">
        <div class="input-group">
            <div class="{{'col-sm-' + 12 / filters.length}}" ng-repeat="filter in filters">
                <div class="form-group filter-group">
                    <label>
                        <span class="glyphicon" ng-class="{'Type':'glyphicon-film', 'License Window':'glyphicon-calendar', 'Available Regions':'glyphicon-globe'}[filter.category]"></span>
                        {{filter.category}}:</label>
                    <div class="input-group">
                        <button
                                class="filter button" ng-repeat="value in filter.values"
                                ng-class="{ true: 'selected'}[value.isActive]"
                                ng-click="toggleFilter(filter, value)">
                            <img ng-if="filter.hasIcon && !value.isAll" ng-src="{{filter.iconDirectory + '/' + value.name + '.png'}}"/>
                            {{value.name}} <span class="badge">{{ value.count }}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr />

    <table>
        <thead>
        <th ng-repeat="field in collectionFields">{{field}}</th>
        </thead>
        <tbody>
        <tr ng-repeat="item in collection | FilterByCategory : filters : 'Milk Type' | KeywordSearchFilter : ['name','region'] : searchKeyword">
            <td ng-repeat="value in getValues(item)">{{value}}</td>
        </tr>
        </tbody>
    </table>
</div>